<header id="header" class="text-center tm-text-gray">
    <h1>원전 방폐물 추적 실시간 현황</h1>
    <p>국내 방폐물 추적 이력을 투명하게 보아요</p>
</header>

<nav class="navbar narbar-light">
    <a class="navbar-brand tm-text-gray" href="/">
        Menu
    </a>
    <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fa fa-navicon tm-fa-toggler-icon"></i>
        </span>
    </button>
    <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/location/kori">고리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/location/hanbit">한빛</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/location/wolsung">월성</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/location/hanwool">한울</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-text-gray" href="/location/saewool">새울</a>
            </li>
            <li class="nav-item">
                <a href="https://npp.khnp.co.kr/index.khnp?menuCd=DOM_000000102002004000" target="_blank">불시정지 이력확인</a>
            </li>
            <li class="nav-item">
                <a href="https://ropsten.etherscan.io/" target="_blank">롭스텐 테스트넷</a>
            </li>
        </ul>
    </div>
</nav>


<div class="navbar navbar-default navbar-fixed-top">
    <a href="/" class="navbar-brand"></a>
    <botton class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mydropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </botton>

</div>

<div class="collapse navbar-collapse" id="mydropdown">

    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        <li> <a href="/location/kori">고리</a> </li>
        <li> <a href="/location/hanbit">한빛</a> </li>
        <li> <a href="/location/wolsung">월성</a> </li>
        <li> <a href="/location/hanwool">한울</a> </li>
        <li> <a href="/location/saewool">새울</a></li>
        <li> <a href="https://ropsten.etherscan.io/" target="_blank">롭스텐 테스트넷</a></li>
    </ul>
</div>